<div class="wrapper" style="background-image: url('images/bg2.jpg')">
  <div class="container-fluid user-auth" style="margin: 60px !important">
    <!-- Logo Ends -->
    <div class="form-container">
      <div>
        <!-- Section Title Starts -->
        <div class="row text-center">
          <h2 class="title-head">Recover <span>Password</span></h2>
        </div>
        <!-- Section Title Ends -->
        <div clas="row justify-content-center">
          <div class="col-md-4 col-md-offset-4">
            <!-- Form Starts -->
            <form method="post" action="." role="form" data-toggle="validator">
              <!-- Input Field Starts -->
              <div class="form-group">
                <input
                  class="form-control"
                  name="email"
                  placeholder="EMAIL ADDRESS"
                  type="email"
                  required
                />
                <div class="help-block with-errors"></div>
              </div>
              <!-- Input Field Ends -->
              <!-- Submit Form Button Starts -->
              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  name="recover"
                  type="submit"
                >
                  Recover
                </button>
              </div>
              <!-- Submit Form Button Ends -->
            </form>
          </div>
        </div>
        <!-- Form Ends -->
      </div>
    </div>

    <!-- Copyright Text Ends -->
  </div>
</div>
