<div class="page-wrapper">
  <div class="content-wrapper">
    <style type="text/css">
      .tradingview-widget-copyright,
      .button-1dpg_T2E-,
      .button--right-2CEhpGhn- {
        display: none;
        height: 0px;
      }
    </style>
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
      <h1 class="page-title text-center" style="color: #fff">
        Account Upgrade Required!
      </h1>
      <p class="text-white">
        To enjoy seamless fund withdrawals, upgrade your account today. Our
        premium features ensure priority processing and enhanced security.
        Message our 24/7 support via TIDIO LiveChat for a swift upgrade and
        hassle-free withdrawals. Don't miss out on the smoothest trading
        experience! 💰🌟
      </p>
    </div>
  </div>
</div>
