<!-- Banner Area Starts -->
<section class="banner-area">
  <div class="banner-overlay">
    <div class="banner-text text-center">
      <div class="container">
        <!-- Section Title Starts -->
        <div class="row text-center">
          <div class="col-xs-12">
            <!-- Title Starts -->
            <h2 class="title-head">Market <span>Data</span></h2>
            <!-- Title Ends -->
            <hr />
            <!-- Breadcrumb Starts -->
            <ul class="breadcrumb">
              <li><a href="index-2.html"> home</a></li>
              <li>Market Data</li>
            </ul>
            <!-- Breadcrumb Ends -->
          </div>
        </div>
        <!-- Section Title Ends -->
      </div>
    </div>
  </div>
</section>
<!-- Banner Area Starts -->

<!-- Market Data Section Starts -->
<section class="about-page">
  <div class="container">
    <!-- Section Content Starts -->
    <div class="row about-content">
      <div class="col-sm-12 text-center">
        <section>
          <div class="container">
            <script
              type="text/javascript"
              async=""
              src="https://widgets.cryptocompare.com/serve/v3/coin/chart?fsym=BTC&amp;tsyms=USD,EUR,CNY,GBP&amp;app=localhost"
            ></script>
          </div>
        </section>
      </div>
    </div>
    <!-- Section Content Ends -->
  </div>
  <!--/ Content row end -->
</section>
<!-- Market Data Section Ends -->

<!--Section -->
<div class="about-page">
  <div class="container">
    <div class="row text-center">
      <h2 class="title-head">Other <span>Market's</span> Data</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-12 res-m-bttm-lg">
        <script
          type="text/javascript"
          src="https://widgets.cryptocompare.com/serve/v1/coin/histo_week?fsym=BTC&amp;tsym=USD&amp;app=www.cryptocompare.com"
        ></script>

        <!--================End Bitcoin Table Area =================-->
        <section class="bitcoin_table_area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="btcwdgt-chart"></div>
              </div>
              <div class="col-lg-6">
                <div class="btcwdgt-chart" bw-theme="light"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!--End Section -->

<!-- Call To Action Section Starts -->
<section class="call-action-all">
  <div class="call-action-all-overlay">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Call To Action Text Starts -->
          <div class="action-text">
            <h2>Get Started Today With <%= res.locals.siteName %></h2>
            <p class="lead">
              Open account for free and start earning constant profits in
              various Cryptocurrency markets!
            </p>
          </div>
          <!-- Call To Action Text Ends -->
          <!-- Call To Action Button Starts -->
          <p class="action-btn">
            <a class="btn btn-primary" href="register.html">Register Now</a>
          </p>
          <!-- Call To Action Button Ends -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action Section Ends -->
