<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-head">
      <div class="ibox-title">Top Investors</div>
    </div>
    <div class="ibox-body table-responsive">
      <table
        class="table table-striped table-bordered table-hover"
        id="example-table"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th>TRANS ID</th>
            <th>Asset</th>
            <th>Invested</th>
            <th>Profit</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#EJA3L</td>
            <td>Ethereum</td>
            <td>$1,840</td>
            <td>$50,537</td>
            <td>29/11/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: orange;
                "
                >PENDING</b
              >
            </td>
          </tr>
          <tr>
            <td>#NZTLI</td>
            <td>Ethereum</td>
            <td>$2,850</td>
            <td>$22,049</td>
            <td>06/11/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: orange;
                "
                >PENDING</b
              >
            </td>
          </tr>
          <tr>
            <td>#XPD0W</td>
            <td>Ripple</td>
            <td>$1,025</td>
            <td>$73,838</td>
            <td>28/07/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#S2971</td>
            <td>Bitcoin</td>
            <td>$1,737</td>
            <td>$51,182</td>
            <td>10/05/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#8ILNG</td>
            <td>Bitcoin</td>
            <td>$4,921</td>
            <td>$98,119</td>
            <td>08/02/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#LTF5W</td>
            <td>Bitcoin</td>
            <td>$2,163</td>
            <td>$49,456</td>
            <td>06/04/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#1635B</td>
            <td>Ethereum</td>
            <td>$3,422</td>
            <td>$11,125</td>
            <td>21/08/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: orange;
                "
                >PENDING</b
              >
            </td>
          </tr>
          <tr>
            <td>#HNI2O</td>
            <td>Stellar</td>
            <td>$499</td>
            <td>$75,681</td>
            <td>05/07/2023</td>
            <td></td>
          </tr>
          <tr>
            <td>#GV03J</td>
            <td>Stellar</td>
            <td>$1,777</td>
            <td>$91,057</td>
            <td>24/03/2023</td>
            <td></td>
          </tr>
          <tr>
            <td>#NBW43</td>
            <td>Ripple</td>
            <td>$3,064</td>
            <td>$10,176</td>
            <td>03/02/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#HCI46</td>
            <td>Bitcoin</td>
            <td>$1,881</td>
            <td>$12,512</td>
            <td>01/07/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
          <tr>
            <td>#UV6RP</td>
            <td>Stellar</td>
            <td>$1,614</td>
            <td>$97,691</td>
            <td>28/04/2023</td>
            <td></td>
          </tr>
          <tr>
            <td>#TZ8U1</td>
            <td>Stellar</td>
            <td>$1,594</td>
            <td>$48,659</td>
            <td>15/10/2023</td>
            <td></td>
          </tr>
          <tr>
            <td>#A53KM</td>
            <td>Bitcoin</td>
            <td>$2,148</td>
            <td>$54,158</td>
            <td>08/04/2023</td>
            <td>
              <b
                class="_pay_now_"
                style="
                  float: left;
                  width: 100px;
                  text-align: center;
                  background: #00afef;
                "
                >INVESTED</b
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
