
      <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-heading">
          <h1 class="page-title" style="color: #fff">My Trade History</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard"><i class="la la-home font-20"></i></a>
            </li>
          </ol>
        </div>
        <div class="page-content fade-in-up">
          <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Your Trade (ROI) Interest History</div>
            </div>
            <div class="ibox-body">
              <div class="alert alert-danger alert-bordered">
                <strong>No trade history found!</strong> Make sure you have
                funds in your account. Visit the deposit section to fund your
                trading account
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT-->
      </div>
    </div>

  